@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body{
    background-image: url("../img/background.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
    align-items: center;
}

.logo-text{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    
}
.logo-text:hover{
    color: #3CB878;
}
.icon-logo{
    display: flex;
    position: relative;
}
.icon-logo a svg{
    margin-right: 26px;
}

.img-highlited{
    position: absolute;
    opacity: 0;
}
.img-highlited:hover{
    opacity: 1;
}
.img-highlited-1{
    left: 0;
}
.img-highlited-2{
    left: 47px;
}
.img-highlited-3{
    left: 96px;
}
.icon-logo a span{
    margin-right: 6px;
}
.header-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 5px;
}
.header-text-highlited:hover{
    color: #3CB878;
}
.header-text-welcome{
    display: flex;
    align-items: center;
}

.form-box{
    width: 444px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 60px;

    position: fixed; 
    top: calc(50% + 4%); 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.form-title{
    display: flex;
    justify-content: space-between;
    
}
.green-box{
    position: absolute;
    left: 0;
}
.form-sign-up{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-login{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.form-login:hover{
   text-decoration: underline;
}
.btn{
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;  
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.btn-social-networks{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.btn-facebook{
    background: #305DB8;
    padding-left: 17px;
    padding-right: 22px;
}
.btn-facebook:hover{
    background: #022263;
}

.btn-google{
    background: #DF4A32;
    padding-left: 12px;
    padding-right: 27px;
}
.btn-google:hover{
    background: #AB1F09;
}
.text-google{
    padding-left: 30px;
}
.text-title-form{
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 34px;
    margin-bottom: 12px;  
}
.text-title-form::before{
    content: url("../img/line.png");
    margin-right: 5px;
}
.text-title-form::after{
    content: url("../img/line.png");
    margin-left: 5px;
}
.form-label {
    display: flex;
    flex-direction: column;
    border: none;
}
.form-input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 19px;
    
}
.form-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-input:not(:last-child){
    margin-bottom:15px;
}

.custom-checkbox {
    display: inline-block;
    width: 18px;
    min-width: 18px;
    height: 18px;
    border: 1px solid #0d1c41;
    border-radius: 2px;
    background: #fff;
    margin-right: 20px;
}
  
.form-checkbox {
    display: flex;
    flex-direction: row;
    position: relative;
}
  
.form-checkbox .default-checkbox {
    position: absolute;
    opacity: 0;
}
  
.form-checkbox .default-checkbox:checked + .custom-checkbox {
    background-image: url("../img/checkbox.svg");
    background-size: contain;
    background-position: center;
}
.text-checkbox{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-right: 2px;
}
.text-checkbox-highlited{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.text-checkbox-highlited:hover{
    border-bottom: 1px solid #3CB878 ;
}
.btn-account{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border:none;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
   
}
.btn-account:hover{
    background: #01813F;
}