.menu{
    text-align: center;
    margin-top: 25.5px ;
    margin-bottom: 25.5px;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: #FF0000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin: 72px;
}


.image{
    width: 100%;
    height: 789px;

}
html, body{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #373737 ;
}

.text{
    text-align: center;
    margin-bottom: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.text-second{
    text-align: center;
    margin-bottom: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.button{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top: 66px;
    margin-bottom:82px;
    background: #FF0000;
    border-radius: 4px;
}


 button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;  
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 42.5px ;
    padding-right: 43.5px ;
    padding-top: 18px ;
    padding-bottom: 17px ;
}

.text-footer{
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 29px;
    margin-right: 105px ;
}

