.container{
    width: 1030px ;
    margin-right: auto;
    margin-left: auto;
}
body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Roboto, sans-serif;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: flex;
    margin-top: 51px;
}
.logo-img-hover{
    position: absolute;
    left: 0%;
    opacity: 0;
}
.logo:hover .logo-img-hover{
    opacity: 1;
}
.logo:hover .title{
    color: #F26522;
}
.logo-text{
    position: relative;
    margin-left: 8px;
}
.title{
    display: flex;
    flex-direction: column;
    
}
.title-main{
    display: flex;   
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.title-secondary{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    position: absolute;
}

.header-contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header-contact a{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-contact-phone{
    text-align: end;
    margin-top: 19px;
}
.header-contact-mail:hover{
    color: #F26522;
}
.header-contact-phone:hover{
    color: #F26522;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    grid-column-gap: 62px;
    grid-row-gap: 37px;
    margin-top: 22px;
}
.photo-title{
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}


.item{
    position: relative;
}
.price-block{
    position: absolute;
    top: 165px;
    left: 2px;
    background-color:  #F26522;
    width: 297px;
    height: 55px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 14px 12px 16px;
    color: #FFFFFF;
    opacity: 0;

}
.item:hover .price-block{
    opacity: 1;
}
.item:hover .photo-title{
    color: #F26522 ;
}
.from{
    font-size: 10px;
    line-height: 10px;
}
.price{
    font-size: 20px;
    line-height: 20px;
}
.details{
    font-size: 14px;
    line-height: 14px;
}
.details::after{
    content: url('../img/arrow.svg');
    margin-left: 16px;
}
.down-text{
    display: flex;
    justify-content: space-between;
}


.footer-text {
    text-align: center;
    margin-top: 49px ;
}
.footer-text a{
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF; 
}

