body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
  }

.title{
  text-align: center;
}
.scroller{
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;  
    color: #ff6;
    transform: perspective(200px) rotateX(30deg);
  }
  
  .scroller div{
    position: absolute;
    top: 100%;
    animation: scroller 30s linear infinite;
  }
  
  .scroller p{ 
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;  
  }
  


 
  
  @keyframes scroller{
    0%{
      top: 100%;
      opacity: 0;
    }
    7%{
      top: 100%;
      opacity: 1;
    }
    95%{
      opacity: 1;
    }
    100%{
      top: -250%;
      opacity: 0;
    }
  }